/* add home page styles here */

a{
    text-decoration: none;
    color: var(--color5);
    padding: 5px;
    margin: 5px;
}

a:active {
    color: var(--color4);
    background-color: var(--color5);
}

a:hover{
    transform: scale(1.05);
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo > .material-icons, p{
    margin: auto;
    padding: 2px;
}

#responsive-menu{
    display: none;
}

.links-respon{
    position: absolute;
        top: 80px;
}

@media screen and (max-width: 600px) {

    .logo{
        display: none;
    }


    #responsive-menu{display: flex;
        padding: 5px;
        margin: auto 2%;
    }

  }

