/* add home page styles here */

a{
    text-decoration: none;
    color: var(--color5);
    padding: 5px;
    margin: 5px;
}

a:active {
    color: var(--color4);
    background-color: var(--color5);
}


.logo {
    display: flex;
    flex-direction: row;
}



#responsive-menu{
    display: none;
}



@media screen and (max-width: 600px) {

    #nav-links{
        position: relative;
        display: block;
        width: 100%;
    }

    #responsive-menu{display: flex;
        padding: 5px;
        margin: auto 2%;
    }

  }

