/* add home page styles here */

a{
    text-decoration: none;
    color: var(--color5);
    padding: 5px;
    margin: 5px;
}

a:active {
    color: var(--color4);
    background-color: var(--color5);
}

a:hover{
    color: var(--color4);
    background-color: var(--color5);
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo > .material-icons, p{
    margin: auto;
    padding: 2px;
}



