
body {
    

    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color2: hsla(3, 42%, 80%, 0.7);
    --color1: hsla(0, 0%, 0%, 1);
    --color3: hsla(187, 43%, 30%, 1);
    --color4: hsla(192, 76%, 75%, 1);
    --color5: #ffffff;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(var(--footer-height));

    /*display: grid;
    grid-template-columns: 0.5fr 1fr;*/
}


#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(var(--footer-height));

    /*display: grid;
    grid-template-columns: 0.5fr 1fr;*/
}

section {
    /*background-color: var(--color5);*/
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    /*border: solid 2px var(--color1);*/
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: calc(var(--footer-height));
    margin: auto;
    max-width: 90%;
    box-shadow: var(--shadow) ;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



.profile {
    width: 90%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    color: var(--color5);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  #welcome {
      background-color: var(--color3);
      font-size: 1.5rem;
      color: var(--color5);
      opacity: 100%;
      text-align: center;
      margin: auto auto auto 0 ;
      padding: 10px 20px;
  }

  

  .about-me{
      padding: 5%;
      margin: auto;
      vertical-align: middle;
    
  }

  .intro-image{
    flex-shrink: 5;
  }

  #me2{
    z-index: 0;
    max-width: 350px;
    margin: 0;
    box-shadow: 5px 2px 4px rgb(48, 47, 47);
 }
 
 #about-title{
     align-self: flex-start;
    margin-left: 5%;
    padding-bottom: 20px;
 }

 .material-icons{
     text-shadow: 2px 2px 4px rgb(48, 47, 47);
     font-size: 30px;
     margin: auto 0;
 }
 
 .profile{
     padding: 5px;
     font-size: 1.2rem;
 }

 .profile > p{
    padding: 10px;
    font-size: 1.2rem;
}



.responsive{
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.container {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin: auto 10px;
 }
 .js, .html, .css, .sql {
    text-align: center;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    background-color: var(--color3);
    border-radius: 20px;
 }
 .js {
    width: 60%;
}
    
 .css {
    width: 80%;
   
 }
 .html {
    width: 75%;
    
 }
 .sql {
    width: 40%;
 }

 .bar-captions
 {
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: auto auto 3px 20px;
 }

audio{

    margin: 0 25% 0 25%;}

.one-title-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: calc(var(--footer-height));
    margin: auto;
    max-width: 100%;
}

#skills-para, #skills-bars, #skills-list{
    padding-top: 2%;
    margin:0;
    padding: 0 20px;
}

#skills-title{
    width: 100%;
    padding: 0 0 5px 0;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

#skills-para{
    padding: 5% 5px 0 0;
    display: block;
    font-size: 1.2rem;
}



#skills-list{
    padding: 3% 0 0 0;
    max-width: 20%;
    margin-left: 50px;
    display: block;
    font-size: 1.3rem;
}

#skills-bars{
    max-width: 50%;
}

ul {
    list-style-type: disc ;
    list-style-position: outside;

}

.exp-ul{
    margin:20px 0;
    font-size: 1.1rem;
}

.exp-ul > li {
    color: var(--color3);
    margin: 10px;
}

.li-span{
    color: black;
}

hr{
    background-color: var(--color3);
    height: 5px;
    display: block;
}

 #hr{
     margin: 0;
     padding: 0;
    
}

h4{
    margin: auto 0;
    font-size: 1.1rem;
    border: 5px solid var(--color3) ;
    padding: 2px;

}

.curr-exp-subtitle{
    font-size: 1.3rem;
    margin-bottom: 10px;

}

.experience-title{
    margin: 20px 0 20px 0;
    
}




.respon-hr{
    display: none;
    width:100%;
    
}


.edu-subtitle{
    font-weight: 900;
    text-align: center;
    margin: 20px;
}

.edu-p{
text-align: center;
margin: 20px;

}

#education{
    min-width: 90%;
}

#slides{
    margin: auto 0;
    min-width: 100%;
    padding: 0;
}

@media only screen and (max-width: 600px){
 
    article, .contain {
        /*background-color: var(--color5);*/
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        /*border: solid 2px var(--color1);*/
    }

    #skills-bars, #skills-list{
        max-width: 80%;
        padding: 20px 0;
    }

    .experience{
        padding: 0;
    }

    .respon-hr{
        display: block;
    }

    #me2{
        max-width: 60%;
     }

     section{
         margin: 0 auto;
     }

}